{{ define "main" }}
  <h1 class="page-title">Projects</h1>

  <!-- Ongoing Projects -->
  <section class="post-list-wrapper">
    <h2>Ongoing Projects</h2>
    <ul class="post-list">
      {{ $ongoingProjects := where .Pages "Params.status" "ongoing" }}
      {{ if $ongoingProjects }}
        {{ range $ongoingProjects }}
          <li class="post-list-item">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <div class="date-label">{{ .Date.Format "2 Jan 2006" }}</div>
          </li>
        {{ end }}
      {{ else }}
        <div>No ongoing projects at the moment.</div>
      {{ end }}
    </ul>
  </section>

  <!-- Past Projects -->
  <section class="post-list-wrapper">
    <h2>Past Projects</h2>
    <ul class="post-list">
      {{ $pastProjects := where .Pages "Params.status" "past" }}
      {{ if $pastProjects }}
        {{ range $pastProjects }}
          <li class="post-list-item">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <div class="date-label">{{ .Date.Format "2 Jan 2006" }}</div>
          </li>
        {{ end }}
      {{ else }}
        <div>I haven't done anything.</div>
      {{ end }}
    </ul>
  </section>
{{ end }}
