<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
{{ partial "head.html" . }}
</head>

<body class="body">
  <div class="container">
    <header>
    {{- partial "header.html" . -}}
    <script>
      /*to prevent Firefox FOUC, this must be here*/
      let FF_FOUC_FIX;
    </script>
    </header>

    <main>
    {{- block "main" . -}}
    {{- end -}}
    </main>

    <footer class="footer">
    {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>