<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
{{ partial "head.html" . }}
</head>

<body>
  <a class="skip-link" href="#main">Skip to content</a>
  <div class="container">
    <header>
      {{- partial "header.html" . -}}
    </header>

    <main id="main" tabindex="-1">
      {{- block "main" . -}}
      {{- end -}}
    </main>

    <footer class="footer">
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>