<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  
</head>
<script>
  const savedTheme = localStorage.getItem('theme');
    const themeIcon = document.getElementById('themeColorToggle');
    document.documentElement.classList.add(savedTheme);
</script>
{{ partial "head.html" . }}

</head>

<body>
  <div class="container">
    <header>
    {{- partial "header.html" . -}}
    </header>

    <main>
    {{- block "main" . -}}
    {{- end -}}
    </main>

    <footer class="footer">
    {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>