{{ define "main" }}

<!-- Search Form -->
<div role="search" aria-label="Search for posts">
  <input type="text" class="search-input" autocomplete="off" placeholder="search…" maxlength="256" id="search" aria-label="Search posts by keywords">
</div>

<!-- Tag List -->
<div aria-label="Tag List">
  <ul class="tag-list" id="tag-list" aria-label="Available tags">
    {{ range .Site.Taxonomies.tags -}}
    <li>
      <a class="tag-type-2" href="{{ .Page.Permalink }}">{{- .Page.Title -}}</a>
    </li>
    {{- end }}
  </ul>
</div>

<!-- Posts List -->
<div class="post-list-wrapper" id="post-list-wrapper" role="region" aria-label="Posts List">
  {{- $filteredPages := where .Site.RegularPages ".Params.exclude_from_list" "!=" true -}}
  {{- range $filteredPages.GroupByDate "2006" }}
      <h2 class="year-header">{{- .Key -}}</h2>
      <ul class="post-list all-posts" aria-label="Posts from {{ .Key }}">
        {{ range .Pages -}}
        <li class="post-list-item">
          <div class="date-label">{{- .Date.Format "Jan·02" -}}</div>
          <a class="post-link" href="{{ .Permalink }}">{{- .Title -}}</a>
        </li>
        {{ end }}
      </ul>
  {{ end }}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.4.6/fuse.min.js"></script>
{{ $searchJS := resources.Get "js/search.js" | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $searchJS.Permalink }}"></script>

{{ end }}
