{{ define "main" }}

{{ $cdnData := index .Site.Data "cdn" }}

{{ if .Params.katex }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.18/katex.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/contrib/auto-render.min.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      if (typeof renderMathInElement === "function") {
        try {
          renderMathInElement(document.body, {
            delimiters: [
              { left: "$$", right: "$$", display: true },
              { left: "$", right: "$", display: false }
            ]
          });
        } catch (error) {
          console.error("Error rendering math:", error);
        }
      } else {
        console.warn("renderMathInElement function is not available.");
      }
    });

  </script>
{{ end }}


<section>
  <h1 class="post-title">{{ .Title }}</h1>

  {{ with .Date }}
  {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := . | time.Format ":date_long" }}
  <time class="post-time" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  {{ end }}

  <article class="single-content">
    {{ .Content }}
  </article>

  <nav class="pagination">
    {{ if .Prev }}
    <a class="prev-post" rel="prev" href="{{ .Prev.Permalink }}">← Previous</a>
    {{ else }}
    <span class="no-prev-post">← Previous</span>
    {{ end }}

    {{ if .Next }}
    <a class="next-post" rel="next" href="{{ .Next.Permalink }}">Next →</a>
    {{ else }}
    <span class="no-next-post">Next →</span>
    {{ end }}
  </nav>

</section>

{{ end }}