{{ define "main" }}
  <section>
    <h1 class="post-title">{{ .Title }}</h1>

    {{ with .Date }}
      {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := . | time.Format ":date_long" }}
      <time class="post-time" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{ end }}

    <article class="single-content">
      {{ .Content }}
    </article>
  </section>

    <hr>

  <section aria-labelledby="tag-list-title">
    <h2 id="tag-list-title" class="visually-hidden">Tags</h2>
    <ul role="list" class="tag-list" id="tag-list">
      {{ range .Params.tags -}}
        <li><a class="tag-type-1" href="{{ "tags/" | relURL }}{{ . | urlize }}/">#{{ . }}</a></li>
      {{- end }}
    </ul>
  </section>



{{ partial "upvote.html" . }}

  <nav class="pagination" aria-label="Pagination Navigation">
    <ul>
      <li>
        {{ if .Prev -}}
          <a class="prev-post" rel="prev" href="{{ .Prev.Permalink }}" aria-label="Previous post: {{ .Prev.Title }}">← Previous</a>
        {{ else -}}
          <span class="no-prev-post" aria-hidden="true" aria-disabled="true">← Previous</span>
        {{ end }}
      </li>
      <li>
        {{ if .Next -}}
          <a class="next-post" rel="next" href="{{ .Next.Permalink }}" aria-label="Next post: {{ .Next.Title }}">Next →</a>
        {{ else -}}
          <span class="no-next-post" aria-hidden="true" aria-disabled="true">Next →</span>
        {{ end }}
      </li>
    </ul>
  </nav>
{{ end }}
