/* ---------- Root Variables ---------- */
:root {
  --background-color: #fff;
  --primary: #202C39;
  --accent: #FF6600;
  --primary2: #999;
  --accent2: #3185FC;
  --input-field-bg-color: #fff;
  --input-field-text-color: #202C39;
  --input-field-border-color: #3185FC;
  --tag-2-bg-color: #202C39;
  --tag-2-text-color: #fff;
}

/* Dark Mode */
[theme="dark"] {
  --background-color: #202C39;
  --primary: #999;
  --accent: #dbb267;
  --primary2: #999;
  --accent2: #40A2D8;
  --input-field-bg-color: #202C39;
  --input-field-text-color: #aaa;
  --input-field-border-color: #EABE6C;
  --tag-2-bg-color: #006fa6;
  --tag-2-text-color: #eee;
}



/* ---------- Layout & Container Styles ---------- */
.container {
  max-width: 720px;
  margin: 0 auto;
  display: block;
}

.body {
  margin: 20px;
  background-color: var(--background-color);
}

/* ---------- Typography ---------- */
body {
  color: var(--primary);
  font-family: 'Atkinson Hyperlegible', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 28px;
  line-height: 38px;
}

h2 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

p {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 24px;
}

/* ---------- Links ---------- */
a {
  color: var(--accent);
  font-size: 16px;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

.home-link {
  color: var(--primary);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.home-link:hover {
  color: var(--primary);
  text-decoration: none;
}

/* ---------- Navbar Styles ---------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-links {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  display: flex;
  min-width: 25px;
  align-items: center;
}


/* ---------- Titles & Headers ---------- */
.page-title {
  color: var(--primary);
  font-size: 38px;
  font-weight: bold;
  line-height: 40px;
  margin-top: 50px;
  margin-bottom: 24px;
}

/* ---------- Post & List Styles ---------- */
.post-list-wrapper {
  margin-top: 30px;
}

.post-list {
  display: flex;
  flex-flow: column;
  gap: 16px;
  margin-bottom: 40px;
  padding: 0;
}

.post-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  gap: 18px;
  overflow: clip;
  list-style-type: none;
}

.post-link {
  color: var(--accent);
  display: inline-flex;
  overflow: clip;
}

.post-link:hover {
  color: var(--primary);
}

.date-label {
  color: var(--primary2);
  text-align: right;
}

/* ---------- Tag Styles ---------- */
.tag-post-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--primary);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--primary);
  list-style: none;
  padding: 0;
}

.tag-type-1 {
  display: flex;
  font-size: 12px;
  font-family: 'Roboto Mono';
  color: var(--primary);
  text-transform: lowercase;
  border: 1px solid var(--accent2);
  letter-spacing: -0.3px;
  border-radius: 3px;
  padding: 0px 5px;
  height: 22px;
  align-items: center;
  justify-content: center; 
}


.tag-type-1:hover {
  border: 1px solid var(--accent);
  cursor: pointer;
}

.tag-type-2 {
  background-color: var(--tag-2-bg-color);
  color: var(--tag-2-text-color);
  border-radius: 3px;
  padding: 7px 10px;
  text-transform: lowercase;
  font-size: 14px;
}

.tag-type-2:hover {
  background-color: var(--accent);
  color: #fff;
  cursor: pointer;
}

/* ---------- Search Elements ---------- */
.search-input {
  color: var(--input-field-text-color);
  background-color: var(--input-field-bg-color);
  border: 1px solid var(--input-field-border-color);
  box-sizing: border-box;
  object-fit: fill;
  border-radius: 3px;
  height: 26px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 1px 10px;
  display: flex;
}

.search-input:focus {
  border: 2px solid var(--accent2);
  outline: none;
}

/* ---------- Footer Styles ---------- */
.footer {
  color: var(--primary);
  text-align: center;
  margin-top: 60px;
}

/* ---------- Media Queries ---------- */
@media screen and (max-width: 991px) {
  .body {
    margin-left: 40px;
    margin-right: 40px;
  }

  .date-label {
    white-space: normal;
    word-break: normal;
  }
}

@media screen and (max-width: 767px) {
  .nav-links {
    text-align: right;
    justify-content: flex-end;
  }

  .post-list {
    gap: 20px;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    padding: 10px;
  }

  .body {
    margin-left: 20px;
    margin-right: 20px;
  }

  .page-title {
    margin-top: 50px;
  }

  .post-list {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }
}


/* ---------- Single Page Template ---------- */
.post-title {
  margin-top: 40px;
}

.post-time {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  color: var(--primary2);
}


blockquote {
  margin: 20px 0;
  padding-left: 10px;
  border-left: 2px solid var(--accent);
}


.pagination {
  list-style: none;
  display: flex;
  gap: 14px;
  padding: 0;
  margin-top: 1px;
  
}

.pagination-link {
 color: var(--accent);
}

.pagination-link:hover {
  color: var(--primary);
}





/* ---------- Font Faces ---------- */
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url('/fonts/Atkinson-Hyperlegible-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url('/fonts/Atkinson-Hyperlegible-bold.woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url('/fonts/Atkinson-Hyperlegible-Italic-102a.woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url('/fonts/RobotoMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}