/* ---------- Root Variables ---------- */
:root {
  --background-color: #fff;
  --primary: #202c39;
  --accent: #ff6600;
  --primary2: #737373;
  --accent2: #008dd5;
  --input-field-bg-color: #fff;
  --input-field-text-color: #202c39;
  --input-field-border-color: #202c39;
  --tag-2-bg-color: #202c39;
  --tag-2-text-color: #fff;
  --tag-2-text-hover-color: #fff;
  --link-color: #e03400;
  --link-hover-color: #0076d1;
  --horizontal-rule-color: #ccc;
}

/* Dark Mode */
[theme="dark"] {
  --background-color: #151823;
  --primary: #999;
  --accent: #dbb267;
  --primary2: #999;
  --accent2: #40a2d8;
  --input-field-bg-color: #202339;
  --input-field-text-color: #aaa;
  --input-field-border-color: #999;
  --tag-2-bg-color: #c48a4f;
  --tag-2-text-color: #000;
  --tag-2-text-hover-color: #000;
  --link-color: #dbb267;
  --link-hover-color: #40a2d8;
  --horizontal-rule-color: #555;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 78vh; /* Ensure it centers within full viewport height */
  text-align: center;
}


hr {
  border: none;
  height: 1px; 
  background-color: var(--horizontal-rule-color); 
}

/* ---------- Layout & Container Styles ---------- */
.container {
  max-width: 720px;
  margin: 0 auto;
  display: block;
}

.body {
  margin: 20px;
  background-color: var(--background-color);
}

/* Styles for a single responsive image */
.responsive-image { 
  display: block;
  margin: 24px auto; 
  max-width: 100%; 
  height: auto; 
}

/* Container for multiple images */
.responsive-images {
  display: grid;
  gap: 16px; 
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 auto;
}

.large-text {
  font-size: 2.5em; /* Adjust as needed */
  font-weight: bold; /* Make it bold */
  line-height: 1.3; /* Adjust line height for readability */
  margin: 25px 30px 25px 25px; /* Add vertical spacing */
  text-align: center; /* Center the text */
}


/* ---------- Typography ---------- */
body {
  color: var(--primary);
  font-family: "Atkinson Hyperlegible", Arial, sans-serif, 'Kaisei Opti';
  font-size: 16px;
  line-height: 24px;
  transition: background-color 0.1s ease, color 0.1s ease;
}

h1 {
  font-size: 28px;
  line-height: 38px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

p {
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 26px;
}

.footnote-ref {
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}

/* ---------- Links ---------- */
a {
  color: var(--link-color);
  font-size: 17px;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

ul {
  margin-bottom: 27px;
}

nav > ul > li {
  margin-bottom: 0;
}

.tag-list > ul > li {
  margin-bottom: 0 !important;
}

ul:not(.tag-list):not(.post-list):not(.pagination > ul) li {
  margin-bottom: 18px;
}

ol li {
  margin-bottom: 16px;
}

ol p {
  margin-bottom: 0;
}

.post-list li {
  margin-bottom: 0;
}

.tag-list ul {
  margin-bottom: 0;
}

.home-link {
  color: var(--primary);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.home-link:hover {
  color: var(--primary);
  text-decoration: none;
}

.single-content {
  margin-top: 25px;
}

.bigger-text {
  font-size: 100px;
  margin: 25px;
  font-weight: 400;
}

/* ---------- Navbar Styles ---------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-links {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 24px;
}

/* ---------- Titles & Headers ---------- */
.page-title {
  color: var(--primary);
  font-size: 38px;
  font-weight: bold;
  line-height: 40px;
  margin-top: 50px;
  margin-bottom: 24px;
}

/* ---------- Post & List Styles ---------- */
.post-list-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}

.post-list {
  display: flex;
  flex-flow: column;
  gap: 12px;
  margin-bottom: 25px;
  padding: 0;
}

.all-posts .post-list-item {
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
  line-height: 25px;
}

.post-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  gap: 18px;
  overflow: clip;
  list-style-type: none;
  position: relative;
  padding-left: 20px; /* Space between bullet and text */
}

.post-list-item::before {
  content: "»"; /* You can use any character or symbol here */
  color: var(--primary2); /* Customize bullet color */
  font-size: 20px; /* Customize bullet size */
  position: absolute;
  left: 0; /* Align bullet to the left */
  top: 0; /* Align bullet vertically */
}

.all-posts .post-list-item::before {
  content: ""; /* You can use any character or symbol here */
  color: var(--primary2); /* Customize bullet color */
  font-size: 20px; /* Customize bullet size */
  position: absolute;
  left: 0; /* Align bullet to the left */
  top: 0; /* Align bullet vertically */
}

.post-link {
  color: var(--link-color);
  display: block;
  overflow: clip;
}

.post-link:hover {
  color: var(--link-hover-color);
}

.date-label {
  color: var(--primary2);
  text-align: right;
  text-wrap: nowrap;
}

/* ---------- Tag Styles ---------- */
.tag-post-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  color: var(--primary);
}

.tags-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 6px;
}

.home-tagline {
  margin-bottom: 24px;
  margin-top: 0;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin: 24px 0;
  color: var(--primary);
  list-style: none;
  padding: 0;
}

.single-page-tag {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

.tag-type-1 {
  display: flex;
  font-size: 12px;
  font-family: "Roboto Mono";
  color: var(--primary);
  text-transform: lowercase;
  border: 1px solid var(--accent2);
  letter-spacing: -0.3px;
  border-radius: 3px;
  padding: 0px 5px;
  height: 22px;
  align-items: center;
  justify-content: center;
}

.tag-type-1:hover {
  border: 1px solid var(--accent);
  cursor: pointer;
}

.tag-type-2 {
  background-color: var(--tag-2-bg-color);
  color: var(--tag-2-text-color);
  border-radius: 3px;
  padding: 7px 10px;
  text-transform: lowercase;
  font-size: 14px;
}

.tag-type-2:hover {
  background-color: var(--accent);
  color: var(--tag-2-text-hover-color);
  cursor: pointer;
}

.tag-type-1,
.tag-type-2 {
  transition: background-color 0.1s, color 0.1s, border 0.1s;
}

/* ---------- Search Elements ---------- */
.search-input {
  color: var(--input-field-text-color);
  background-color: var(--input-field-bg-color);
  border: 1px solid var(--input-field-border-color);
  box-sizing: border-box;
  object-fit: fill;
  border-radius: 3px;
  height: 26px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 1px 10px;
  display: flex;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.search-input:focus {
  border: 2px solid var(--accent);
  outline: none;
}

/* ---------- Footer Styles ---------- */
.footer {
  color: var(--primary);
  text-align: center;
  margin-top: 30px;
}

/* ---------- Media Queries ---------- */
@media screen and (max-width: 991px) {
  .body {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .nav-links {
    text-align: right;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  p {
    margin-top: 0px;
  }
  

  .footer {
    padding: 10px;
  }

  .body {
    margin-left: 24px;
    margin-right: 24px;
  }

  .page-title {
    margin-top: 50px;
  }

  .post-list {
    line-height: 25px;
    gap: 16px;
  }

  .tag-post-wrapper {
    flex-flow: column;
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 4px;
  }

  .tag-type-1 {
    font-size: 11px;
    height: 18px;
  }

  .responsive-images {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/* ---------- Single Page Template ---------- */
.post-title {
  margin-top: 40px;
}

.post-time {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  color: var(--primary2);
}

blockquote {
  margin: 20px 0;
  padding-left: 10px;
  border-left: 2px solid var(--accent);
}

.pagination {
  list-style: none;
  display: flex;
  padding-right: 24px;
  margin-bottom: 20px;
  margin-top: 0;
  justify-content: center;
}

.pagination ul {
  list-style-type: none;
  display: flex;
  gap: 14px;
  padding: 0;
}

.pagination-link {
  color: var(--accent);
  font-size: 22px;
}

.pagination-link:hover {
  color: var(--primary);
}

/* ---------- Font Faces ---------- */
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson-Hyperlegible-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson-Hyperlegible-bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson-Hyperlegible-Italic-102a.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Kaisei Opti";
  src: url("/fonts/KaiseiOpti-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kaisei Opti";
  src: url("/fonts/KaiseiOpti-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
