<nav class="navbar" role="navigation" aria-label="Main Navigation">
<a href="/" aria-current="page" class="home-link">{{- .Site.Params.textLogo -}}</a>
<div class="nav-links">
{{- range .Site.Menus.main }}
<a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
{{- end -}}
    <img
      class="icon color-icon"
      src="/img/icon-light-mode.png"
      src-light="/img/icon-light-mode.png"
      src-dark="/img/icon-dark-mode.png"
      id="themeColorToggle"
      width="auto"
      alt="theme color change icon"
      aria-label="Toggle theme"
    />
  </div>
</nav>

<link rel="preload" href="/img/icon-light-mode.png" as="image">
<link rel="preload" href="/img/icon-dark-mode.png" as="image">

<!-- Inline Theme Toggle JavaScript -->
<script>
  // Theme toggle icon element
  const toggleIcon = document.getElementById("themeColorToggle");

  // Set the initial theme based on user preference or default
  function setInitialTheme() {
    const savedTheme = localStorage.getItem("theme");
    const systemPrefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
    const theme = savedTheme || (systemPrefersDark ? "dark" : "light");
    setTheme(theme);
  }

  // Set the theme and update localStorage and icon
  function setTheme(theme) {
    document.body.setAttribute("theme", theme);
    localStorage.setItem("theme", theme);
    toggleIcon.src = theme === "dark" ? "/img/icon-dark-mode.svg" : "/img/icon-light-mode.svg";
  }

  // Toggle between dark and light themes
  function toggleTheme() {
    const currentTheme = document.body.getAttribute("theme");
    const newTheme = currentTheme === "dark" ? "light" : "dark";
    setTheme(newTheme);
  }

  // Event listener for theme toggle click
  toggleIcon.addEventListener("click", toggleTheme);

  // Initialize theme on page load
  setInitialTheme();
</script>
