<!-- Navigation Section -->
<nav class="navbar">
    <a href="/" aria-current="page" class="home-link w--current">¬‿¬</a>
    <div class="nav-links">
        <a href="#">Now</a>
        <a href="#">Project</a>
        <a href="/posts">Blog</a>
        <a href="#"
            class="link-block w-inline-block"><img
                src="https://cdn.prod.website-files.com/66faee9ad7d008e000b23439/66fb09f8ee1ccbe420b4b8e1_night-mode-toggle.svg"
                loading="lazy" width="Auto" alt="day-night-toogle" class="image-3" /></a>
    </div>
</nav>