<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "{{ if .IsHome }}WebSite{{ else }}Article{{ end }}",
    
      {{ if .IsHome }}
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}",
      "description": "{{ .Site.Params.description }}",
      "inLanguage": "{{ .Site.LanguageCode }}"
      {{ else }}
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
      },
      "headline": "{{ .Title }}",
      "description": "{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}",
      "image": {
        "@type": "ImageObject",
        "url": "{{ .Params.image | default .Site.Params.image }}",
        "height": "800",
        "width": "1200"
      },
      "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.author.name }}"
      },
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
      "inLanguage": "{{ .Site.LanguageCode }}"
      {{ end }}
    }
</script>
    